In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
df = pd.read_csv(r"uncleaned_student_depression_dataset.csv",index_col= 0,header = 0 )

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 27902 entries, 1 to 140699
Data columns (total 17 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 27902 non-null  object
 1   Age                                    27902 non-null  int64
 2   City                                   27902 non-null  object
 3   Profession                             27902 non-null  object
 4   Academic Pressure                      27902 non-null  int64
 5   Work Pressure                          27902 non-null  int64
 6   CGPA                                   27902 non-null  float64
 7   Study Satisfaction                     27902 non-null  int64
 8   Job Satisfaction                       27902 non-null  int64
 9   Sleep Duration                         27902 non-null  object
 10  Dietary Habits                         27902 non-null  object
 11  Degree                                 27902 non-null  object
 12  Have you ever had suicidal thoughts ?  27902 non-null  object
 13  Work/Study Hours                       27902 non-null  int64
 14  Financial Stress                       27902 non-null  object
 15  Family History of Mental Illness       27902 non-null  object
 16  Depression                             27902 non-null  int64
dtypes: float64(1), int64(7), object(9)
memory usage: 3.8+ MB

In [3]:
df.head()

,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
id,,,,,,,,,,,,,,,,,
1,Male,19,Delhi,Student,4,0,6.00,3,0,'6-7 hours',Moderate,B.com,Yes,8,4,No,1
2,Male,33,Visakhapatnam,Student,5,0,8.97,2,0,'5-6 hours',Healthy,B.Pharm,Yes,3,1,No,1
8,Female,24,Bangalore,Student,2,0,5.90,5,0,'5-6 hours',Moderate,BSc,No,3,2,Yes,0
26,Male,31,Srinagar,Student,3,0,7.03,5,0,'Less than 5 hours',Healthy,BA,No,9,1,Yes,0
30,Female,28,Varanasi,Student,3,0,5.59,2,0,'7-8 hours',Moderate,BCA,Yes,4,5,Yes,1

In [4]:
df.describe()

,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Depression
count,27902.000000,27902.000000,27902.000000,27902.000000,27902.000000,27902.000000,27902.000000,27902.000000
mean,25.822056,3.141244,0.000430,7.656045,2.943839,0.000681,7.157014,0.585514
std,4.905770,1.381450,0.043991,1.470714,1.361124,0.044394,3.707579,0.492642
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,0.000000
50%,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,1.000000
75%,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,1.000000
max,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,1.000000

In [5]:
'''use only if integer value of sleep hours is needed'''
# def sleep_fix(x: str):
#     encounters = []
#     temp = ""
#     for y in range(len(x)):
#         if x[y].isdigit():
#             if len(temp) > 0:
#                 temp = temp + x[y]
#                 encounters.append(str(temp))
#             else:
#                 temp = x[y]
            
#         else :
#             if len(temp) > 0 :
#                 encounters.append(str(temp))
#             temp = ""
#     if len(encounters) > 0 :
#         return max(encounters)
#     else:
#         return ""

# def sleep_to_int(x:str):
#     if x == 'Less than 5 hours':
#         return 5
#     elif x == '7-8 hours':
#         return 8
#     elif x == '5-6 hours':
#         return 6
#     elif x == 'More than 8 hours':
#         return 8
#     elif x == '6-7 hours':
#         return 7
# df['Sleep Duration'] = df['Sleep Duration'].apply(sleep_fix)

'use only if integer value of sleep hours is needed'