In [64]:
import numpy as np
import pandas as pd
import matplotlib as plt
df = pd.read_csv(r"student_depression_dataset.csv",index_col= 0,header = 0 )

In [65]:
print(df.shape)

(27902, 17)

In [66]:
def sleep_fix(x: str):
    encounters = []
    temp = ""
    for y in range(len(x)):
        if x[y].isdigit():
            if len(temp) > 0:
                temp = temp + x[y]
                encounters.append(str(temp))
            else:
                temp = x[y]
            
        else :
            if len(temp) > 0 :
                encounters.append(str(temp))
            temp = ""
    if len(encounters) > 0 :
        return max(encounters)
    else:
        return ""
df['Sleep Duration'] = df['Sleep Duration'].apply(sleep_fix)

In [67]:
print(df.describe())

                Age  Academic Pressure  Work Pressure          CGPA  \
count  27902.000000       27902.000000   27902.000000  27902.000000
mean      25.822056           3.141244       0.000430      7.656045
std        4.905770           1.381450       0.043991      1.470714
min       18.000000           0.000000       0.000000      0.000000
25%       21.000000           2.000000       0.000000      6.290000
50%       25.000000           3.000000       0.000000      7.770000
75%       30.000000           4.000000       0.000000      8.920000
max       59.000000           5.000000       5.000000     10.000000

       Study Satisfaction  Job Satisfaction  Work/Study Hours    Depression
count        27902.000000      27902.000000      27902.000000  27902.000000
mean             2.943839          0.000681          7.157014      0.585514
std              1.361124          0.044394          3.707579      0.492642
min              0.000000          0.000000          0.000000      0.000000
25%              2.000000          0.000000          4.000000      0.000000
50%              3.000000          0.000000          8.000000      1.000000
75%              4.000000          0.000000         10.000000      1.000000
max              5.000000          4.000000         12.000000      1.000000

In [68]:
df['Gender'].nunique()

2

In [69]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [70]:
df['Gender'].value_counts()

Gender
Male      15548
Female    12354
Name: count, dtype: int64

In [71]:
df['Age'].nunique()

34

In [72]:
df['Age'].unique()

array([19, 33, 24, 31, 28, 25, 29, 30, 27, 20, 23, 18, 21, 22, 34, 32, 26,
       39, 35, 42, 36, 58, 49, 38, 51, 44, 43, 46, 59, 54, 48, 56, 37, 41])

In [73]:
df['Age'].value_counts()

Age
24    2258
20    2237
28    2133
29    1950
33    1893
25    1784
21    1726
23    1645
18    1587
19    1561
34    1468
27    1462
31    1427
32    1262
22    1160
26    1155
30    1145
35      10
38       8
36       7
42       4
48       3
39       3
43       2
46       2
37       2
49       1
51       1
44       1
59       1
54       1
58       1
56       1
41       1
Name: count, dtype: int64

In [74]:
df['City'].nunique()

51

In [75]:
df['City'].unique()

array(['Delhi', 'Visakhapatnam', 'Bangalore', 'Srinagar', 'Varanasi',
       'Jaipur', 'Pune', 'Thane', 'Chennai', 'Nagpur', 'Nashik',
       'Vadodara', 'Kalyan', 'Rajkot', 'Ahmedabad', 'Kolkata', 'Mumbai',
       'Lucknow', 'Indore', 'Surat', 'Ludhiana', 'Bhopal', 'Meerut',
       'Agra', 'Ghaziabad', 'Hyderabad', 'Vasai-Virar', 'Kanpur', 'Patna',
       'Faridabad', 'Saanvi', 'M.Tech', 'Bhavna', 'City', '3',
       "'Less than 5 Kalyan'", 'Mira', 'Harsha', 'Vaanya', 'Gaurav',
       'Harsh', 'Reyansh', 'Kibara', 'Rashi', 'ME', 'M.Com', 'Nalyan',
       'Mihir', 'Nalini', 'Nandini', 'Khaziabad'], dtype=object)

In [76]:
def remove_unwanted_cities(x:str):
    unwanted = ['Saanvi', 'M.Tech', 'Bhavna', 'City', '3',
       "'Less than 5 Kalyan'", 'Mira', 'Harsha', 'Vaanya', 'Gaurav',
       'Harsh', 'Reyansh', 'Kibara', 'Rashi', 'ME', 'M.Com', 'Nalyan',
       'Mihir', 'Nalini', 'Nandini']
    if x in unwanted:
        return pd.NA
    elif x == 'Khaziabad' :
        return 'Ghaziabad'
    else:
        return x
df['City'] = df['City'].apply(remove_unwanted_cities)

In [77]:
df['City'].value_counts()

City
Kalyan           1570
Srinagar         1372
Hyderabad        1340
Vasai-Virar      1290
Lucknow          1155
Thane            1139
Ludhiana         1111
Agra             1094
Surat            1078
Kolkata          1066
Jaipur           1036
Patna            1007
Visakhapatnam     969
Pune              968
Ahmedabad         951
Bhopal            934
Chennai           885
Meerut            825
Rajkot            816
Delhi             770
Bangalore         767
Ghaziabad         746
Mumbai            699
Vadodara          694
Varanasi          685
Nagpur            651
Indore            643
Kanpur            609
Nashik            547
Faridabad         461
Name: count, dtype: int64